.productsDiv {
  margin: auto;
}

.clientInfo {
  margin: auto;
}

main {
  background: white;
  margin: 20px 0;
  padding: 10px;
}

.productSearch {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.inputSearch {
  padding: 5px ;
}

label {
  padding: 7px;
}

.divTotal {
  display: block;
  float: right;
  padding-top: 10px;
}

.totalInput {
  max-width: 60px;
}