.clientInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 4vh 5vw;
  padding: 4vh 13vw;
  border: 1px solid gray;
  border-radius: 6px;
}

.clientPhone {
  margin-left: 10vw;
  padding: 2vh 3vw;
}

.productsDiv {
  margin: auto 5vw;
  padding: auto 13vw;
  border: 1px solid gray;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.productSearch {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.inputSearch {
  width: 50vw;
  padding: 2px;
}

table {
  /* margin-top: 1vh; */
  border: none;
  background: #282c34;
}

.table {
  width: 95%;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  align-items: center;
}

label {
  padding: 7px;
}

.qtdeSelect {
  width: 10vh;
}

.divTotal {
  display: block;
  float: right;
  padding-top: 10px;
  margin: 2vh auto;
}

.totalInput {
  max-width: 100px;
}
